<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GridIt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <GridIt.Properties.Settings>
      <setting name="GridWidth" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="GridHeight" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="GridThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="GridOffsetVertical" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="GridOffsetHorizontal" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="GridColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="CrosshairThickness" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CrosshairColor" serializeAs="String">
        <value>Cyan</value>
      </setting>
    </GridIt.Properties.Settings>
  </userSettings>
</configuration>
